@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
*{
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}

.main{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: row;
    /* background-color: #ECEBE6; */

}

                                                                /* SIDEBAR */


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navCategories{
    z-index: 10;
}

#sidebar {
    min-width: 195px;
    max-width: 195px;
    background: #46829e;
    color:white;
    transition: all 0.3s;
    height: 100%;
    position: fixed;
    position: relative;
    z-index: 10;
    margin-bottom: 5px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #46829e;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

#sidebar ul li a p{
    text-align: center;
    padding: 0;
    text-transform: capitalize;
}

#sidebar ul li a:hover {
    color: #2544c2;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.curseurPrix{
    display: flex;
    flex-direction: column;
}

#range{
    width: 100%;
}

#sidebar_price{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar a label:hover {
    color: #2544c2;
    background: #fff;
}

                                                /* FIN SIDEBAR  */

                                                /* CAROUSEL */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
    width: 100%;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 15rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 35rem;
    background-color: rgb(0, 0, 0);
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 30%;
    /* transform: translate(50%, 50%); */
    min-width: 40%;
    height: 33rem;
  }


                                                            /* Listes des produits */


.titleIndex{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: #46829e;
}

#row_style{
    /* width: 100%; */
    margin-right: 0;
    margin-left: 0;
}
 
.prez{
    display: flex;
    flex-direction: row;
}

.card{
    padding: 0;
    margin: 4px auto;
}

.card-text{
    font-size: 10px;
}

.card-img{
    width: 60%;
}

.img_accueil{
    width: 12rem;
    height: 12rem;
}




.produit_unite{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 10px;
    border: 0.1px rgb(202, 202, 202) solid;

}

.img_prod{
    justify-content: center;
}

.img_taille{
    height: 27rem;
}

.container_produit{
    padding: 3rem;
    padding-top: 0rem;
}

.title_container, .prix_container{
    color: #46829e;
    text-align: center;
}
.separ{
    border: 0.1px rgb(202, 202, 202) solid;
    width: 0.1px;
    margin-left: 3rem;
}

.texte_container{
    letter-spacing: 2px;
    text-align: justify;
}

#button_buy{
    background: linear-gradient(to right, white , #46829e);
    color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
}

#button_buy:hover{
    color:  rgb(13, 47, 63);
    transition: 0.7s;
    /* box-shadow: 10px 5px 5px #46829e; */

}

                                                /* Fin Produit */

                                                /*  Panier */
.card_description{
    font-size: 16px;
}

.h4-panier{
    text-align: center;
}

.button_buy_panier{
    background: linear-gradient(to right, white , #46829e);
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 1.5rem;
    width: 215px;
    margin: 2rem auto;
}
.button_buy_panier:hover{
    color:  rgb(13, 47, 63);
    transition: 0.7s;
    box-shadow: 10px 5px 5px #46829e;
    background: linear-gradient(to left, white , #46829e);
    transition: 2s;
}

                                                /*  ConfirmPanier */

.confirm_container{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.div-panier{
    width: 100%;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.h3-panier{
    font-size: 20px;
    color: rgb(117, 51, 51);
}
.login-img img {width:10%; max-height:20%;}

.container-marg{
    margin-bottom: 5% ;
}
.sectHeader{
    position: fixed;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    /* background-color: #ECEBE6; */
    /* background: linear-gradient(to left, #967757 , #ECEBE6); */
    background: linear-gradient(to left, rgba(150, 119, 87, 0.7) , #ECEBE6);
    color: #715639;

}

.logo{
    /* background-image: url("../../public/img/logo2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 195px;
    height: 170px;
}

#titleHeader{
    /* text-transform: uppercase; */
    font-family: 'Copperplate Gothic Bold', sans-serif;
    letter-spacing: 8px;
}

.searchHeader{
    /* align-items: center; */
    text-align: center; 
    display: inline-block;
    flex-direction: column;
    vertical-align: top;
    width: 100%;

}

.lienHeader{
    color: #715639;
    text-decoration: none;
    font-size: 18px;
    /* margin-top: 30px; */
    margin: 40px 50px 0px 30px;
    justify-content: space-around;
    opacity: 0.4;
}

.lienHeader:hover{
    opacity: 1;
    color: #715639;
    text-decoration: none;
}

#gameSearch{
    height: 35px;
    margin-right: 0;
}
#buttonSearch{
    width: 35px;
    height: 35px;
    margin: auto 1rem;
}

/* #compte{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
} */

#compte_logo{
    font-size: 2rem;
}

#select_header{
    border: none;
    background-color: #ECEBE6;
    font-size: 18px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #ECEBE6;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 14px;
    bottom: 0;
}

#title_footer{
    text-align: left;
    color: #715639;
    letter-spacing: 4px;
}

.block_footer{
    justify-content: center;
    display: flex ;
    flex-direction: row;
    align-items: center;
    margin-left: 26rem;
}

.lienFooter{
    margin: auto 30px;
    font-size: 15px;
}

.textFooter{
    color: #715639;
    text-decoration: none;
}

.textFooter:hover{
    text-decoration: none;
}
                                        /* Header */
@media (max-width: 768px) {
    #titleHeader{
        font-size: 26px;
    }
    .logo {
        width: 180px;
        height: 140px;    
    }
    .lienHeader{
        font-size: 14px;
        margin: 30px 25px 0px 20px;
        justify-content: initial;
    }
    .lienHeader:hover{
        border: initial;
    }
    #gameSearch{
        height: 18px;
        width: 85px;
    }

    #buttonSearch{
        width: 22px;
        height: 22px;
    }

}
                        
                                                /* Sidebar */
@media (max-width: 768px) {
    #sidebar{
        min-width: 180px;
        max-width: 180px;  
    }

    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
                        
                                                /* Carousel */
                            
@media (max-width: 768px) {
    .featurette-heading {
        font-size: 50px;
    }
    .carousel-item {
        height: 25rem;
        }
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 24%;
        min-width: 40%;
        height: 23rem;
    }

}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


                                            /* Produit */
@media (max-width: 768px) {
    .produit_unite{
        padding-top: 5rem;
    }
    .img_taille{
        height: 13rem;
        margin-top: 3rem;
    }
    .container_produit{
        padding: 0px;
    }

    .separ{
        margin: 1rem;
        height: 70%;
    }
    .texte_container{
        letter-spacing: 1px;
        font-size: 10px;
    }
}

                                            /* Produit */
@media (max-width: 768px) {
    .welcome{
        font-size: 25px;
        margin: 1rem auto 1rem auto;
    }

    #title_info{
        font-size: 20px;
    }
    
    #card_compte{
        margin: 0.5rem;
        width: 25rem;
    }

    h5{
        font-size: 12px;
    }

    .section-user{
        width: 100%;
        margin: 12px;
    }

    .button_SignOut{
        padding: 2px;
        letter-spacing: 2px;
        border-radius: 8px;
        font-size: 16px;
        margin: auto 1rem;
    }
    .button_SignOut:hover{

        border: 1px #46829e solid;
        box-shadow: 5px 2px 2px #46829e ;
    }

    #style_card2{
        padding: 3px;
        width: 30rem;
    }

    .texte_card_compte{
        letter-spacing: 2px;
        font-size: 12px;
        margin: .75rem 1rem;
    }
}

                                            /* Footer */
@media (max-width: 768px) {
    .block_footer{
        margin-left: 3rem;
    }
}


/*--------------------------- ADMIN COMPTE-------------------*/



/*----------------------------USER COMPTE---------------------*/

.welcome{
    color: #46829e;
    text-align: center;
    letter-spacing: 2px;
    margin: 2rem auto 1rem auto;
}

#card_compte{
    margin: 0rem 4rem;
    width: 30rem;
}

.section-user{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.section-user a{
    text-align: center;
}

.section-jeux-achetes{
    width: 100%;
    display: block;
    margin: 20px;
}

.button_SignOut{
    padding: 1rem;
    letter-spacing: 2px;
    background-color: #46829e;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: auto 2rem;
}
.button_SignOut:hover{
    background-color: white;
    color: #46829e;
    transition: 0.8s;
    border: 2px #46829e solid;
    box-shadow: 10px 5px 5px #46829e ;
}

#style_card2{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem;
}

.img_compte{
    justify-content: center;
    text-align: center;
}

.texte_card_compte{
    letter-spacing: 2px;
    color: #6c757d;
    text-align: justify;
    margin: 1rem 2rem;
}

/*-------------------------------FORMULAIRE AJOUT JEUX---------------------------*/

.title-jeux{
    font-size: 36px;
}


.section-content{
    text-align: center; 

}
#contact{
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100%;
    height: 800px;
    background: #3a6186; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #413d1f , #d4bac0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}

.form-line{
    border-right: 1px solid #B29999;
}

.form-group{
    margin-top: 10px;
}

    label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

    .form-control{
    font-size: 1.3em;
    color: #080808;
}

    textarea.form-control {
        height: 135px;
        /* margin-top: px;*/
}

    .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;

}
  


