/*--------------------------- ADMIN COMPTE-------------------*/



/*----------------------------USER COMPTE---------------------*/

.welcome{
    color: #46829e;
    text-align: center;
    letter-spacing: 2px;
    margin: 2rem auto 1rem auto;
}

#card_compte{
    margin: 0rem 4rem;
    width: 30rem;
}

.section-user{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.section-user a{
    text-align: center;
}

.section-jeux-achetes{
    width: 100%;
    display: block;
    margin: 20px;
}

.button_SignOut{
    padding: 1rem;
    letter-spacing: 2px;
    background-color: #46829e;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: auto 2rem;
}
.button_SignOut:hover{
    background-color: white;
    color: #46829e;
    transition: 0.8s;
    border: 2px #46829e solid;
    box-shadow: 10px 5px 5px #46829e ;
}

#style_card2{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem;
}

.img_compte{
    justify-content: center;
    text-align: center;
}

.texte_card_compte{
    letter-spacing: 2px;
    color: #6c757d;
    text-align: justify;
    margin: 1rem 2rem;
}
