footer{
    bottom: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #ECEBE6;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 14px;
    bottom: 0;
}

#title_footer{
    text-align: left;
    color: #715639;
    letter-spacing: 4px;
}

.block_footer{
    justify-content: center;
    display: flex ;
    flex-direction: row;
    align-items: center;
    margin-left: 26rem;
}

.lienFooter{
    margin: auto 30px;
    font-size: 15px;
}

.textFooter{
    color: #715639;
    text-decoration: none;
}

.textFooter:hover{
    text-decoration: none;
}