.main{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: row;
}

                                                                /* SIDEBAR */


.linkSidebar, .linkSidebar:hover, .linkSidebar:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navCategories{
    z-index: 10;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


#sidebar {
    min-width: 210px;
    max-width: 210px;
    background: #46829e;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
    position: relative;
    margin-right: 15px;
    z-index: 10;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #46829e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li .linkSidebar {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li .linkSidebar:hover {
    color: #2544c2;
    background: #fff;
}

#sidebar ul li.active > .linkSidebar, 
.linkSidebar[aria-expanded="true"] {
    color: #fff;
    background: #46829e;
}


.linkSidebar[data-toggle="collapse"] {
    position: relative;
}

.linkSidebar[aria-expanded="false"]::before, .linkSidebar[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
.linkSidebar[aria-expanded="true"]::before {
    content: '\e260';
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul .linkSidebar {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #46829e;
}

.linkSidebar.article, 
.linkSidebar.article:hover {
    background: #46829e  !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.curseurPrix{
    display: flex;
    flex-direction: column;
}

                                                            /* FIN SIDEBAR  */

.titleIndex{
    text-transform: uppercase;
    text-align: center;
}

.prez{
    display: flex;
    flex-direction: row;
}

.card-text{
    font-size: 12px;
}

.card-img{
    width: 40%;
}

.img_accueil{
    width: 40%;
}

#img_marioK{
    height: 159px;
}